#logo
{
	float:left;
	margin:10px;
	margin-top:0px;
	width:250px;
}

#search
{
	float:left;
}

#links
{
	float:right;
}

.navigation
{
	margin:0px;
	border:0px;
	padding:0px;
}

.navigation li
{
	list-style-type:none;
	margin:0px;
	margin-right:10px;
	border:0px;
	padding:0px;
	float:left;
}

.divider
{
	clear:both;
}
